{% extends "base.html" %}

{% block content %}
    <p>Dear {{ username }},</p>
    <p>We received a request to reset your password. If you did not make this request, you can safely ignore this email.</p>
    <p>To reset your password, use the reset code below</p>
    <b style="margin:20px">{{ code }}</b>
    <p><b>NB:</b> The code is only valid for 24 hours.</p>
    <p>If you have any questions or concerns, please contact us at <a href="mailto:{{ support_mail }}">{{ support_mail }}</a>.</p>
    <p><span class="lightText">Sincerely</span>,<br>{{ app_email_name }}</p>
{% endblock %}