{% extends "base.html" %}

{% block content %}
    <h1>Welcome to Djuix.io Build Django APIs!</h1>
    <p>Dear {{ username }},</p>
    <p>We're excited to have you on board as a user and we want to make sure that your account is set up and ready to go. To
        do that, we just need to verify your email address.</p>
    <p>To verify your email address, simply click the link below:</p>
    <p><a href="{{ verification_link }}">Click me to verify</a></p>
    <p><b>NB:</b> This link is only valid for 24 hours.</p>
    <p>If you have any trouble with the verification process, please don't hesitate to reach out to our support team at <a
            href="mailto:{{ support_mail }}">{{ support_mail }}</a>.</p>
    <p>Thank you for trying out Djuix.io. We look forward to helping handle hassles of creating backend APIs.</p>
    <p><span class="lightText">Sincerely,</span><br>{{ app_email_name }}</p>
{% endblock %}